version: '3.7'

services:
  typesense:
    image: typesense/typesense:27.1
    restart: on-failure
    ports:
      - "8108:8108"
    volumes:
      - ./typesense-data:/data
    environment:
      - TYPESENSE_API_KEY
    command: >
      --data-dir /data
      --api-key=${TYPESENSE_API_KEY}
      --enable-cors